<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>319556287209-sa0b7mgreflb2guvt1988hi3bk57v21d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319556287209-sa0b7mgreflb2guvt1988hi3bk57v21d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319556287209-cepoa3aal2fb0mjvactusfer7vjmhjco.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJStB06RZ1u1w3GOcEefd441v2KEf4A-o</string>
	<key>GCM_SENDER_ID</key>
	<string>319556287209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hinkhoj.udaiMeena</string>
	<key>PROJECT_ID</key>
	<string>third-flare-864</string>
	<key>STORAGE_BUCKET</key>
	<string>third-flare-864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319556287209:ios:8a8372b13046a912</string>
	<key>DATABASE_URL</key>
	<string>https://third-flare-864.firebaseio.com</string>
</dict>
</plist>